[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
scikit-learn = "*"
python-dotenv = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
